{
  "openapi": "3.1.0",
  "info": {
    "title": "Melostore H2H Public API",
    "version": "1.1.0",
    "description": "Public partner API. Two authentication headers are required together unless an operation explicitly has security=[]. Fictional order creation examples set sandbox_mode=true; omitted/null mode uses the account setting. Enter the Webhook URL in the dashboard. Rotate Keys generates the API Key, Secret Key, and Webhook Secret together and shows them once; later rotations replace all three immediately. Update API credentials and the webhook receiver secret after rotation."
  },
  "servers": [
    {
      "url": "https://api.melostore.id"
    }
  ],
  "security": [
    {
      "ApiKey": [],
      "SecretKey": []
    }
  ],
  "tags": [
    {
      "name": "profile"
    },
    {
      "name": "catalog"
    },
    {
      "name": "transactions"
    },
    {
      "name": "bulk"
    },
    {
      "name": "accounts"
    }
  ],
  "paths": {
    "/api/v1/h2h/profile": {
      "get": {
        "operationId": "getProfile",
        "summary": "Profile",
        "description": "Authenticated profile and tier. MC/IDR is the wallet currency; USD is a display estimate.",
        "tags": [
          "profile"
        ],
        "x-title-id": "Profil",
        "x-description-id": "Profil dan tier terautentikasi. Saldo tetap MC/IDR; USD hanya perkiraan.",
        "x-section": "getProfile",
        "responses": {
          "200": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Profile"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "name": "Example Partner",
                        "email": "partner@example.com",
                        "tier": {
                          "name": "Basic",
                          "code": "basic",
                          "rate_limit": 30,
                          "max_ips": 3
                        },
                        "h2h_balance": 100000,
                        "is_sandbox_mode": true,
                        "total_volume_30_days": 5000,
                        "webhook_url": "https://partner.example.com/h2h-callback",
                        "created_at": "2026-10-02T03:00:00+00:00",
                        "usd_idr_rate": 17000,
                        "display_usd_idr_rate": 17000,
                        "display_rate_updated_at": "2026-10-02T03:00:00+00:00"
                      }
                    }
                  },
                  "referenceFxUnavailable": {
                    "summary": "No valid reference FX quote available",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "name": "Example Partner",
                        "email": "partner@example.com",
                        "tier": {
                          "name": "Basic",
                          "code": "basic",
                          "rate_limit": 30,
                          "max_ips": 3
                        },
                        "h2h_balance": 100000,
                        "is_sandbox_mode": true,
                        "total_volume_30_days": 5000,
                        "webhook_url": "https://partner.example.com/h2h-callback",
                        "created_at": "2026-10-02T03:00:00+00:00",
                        "usd_idr_rate": 17000,
                        "display_usd_idr_rate": null,
                        "display_rate_updated_at": null
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation, product unavailable or insufficient order balance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation": {
                    "value": {
                      "message": "The customer target field is required.",
                      "errors": {
                        "customer_target": [
                          "The customer target field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/h2h/profile/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Balance and FX",
        "description": "Reference FX is separate from configured deposit conversion. Nullable USD estimate when reference FX is unavailable.",
        "tags": [
          "profile"
        ],
        "x-title-id": "Saldo dan kurs",
        "x-description-id": "Kurs tampilan terpisah dari kurs deposit. Perkiraan USD null saat kurs belum tersedia.",
        "x-section": "getBalance",
        "responses": {
          "200": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Balance"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "data": {
                        "h2h_balance": 100000,
                        "is_sandbox_mode": true,
                        "usd_idr_rate": 17000,
                        "display_usd_idr_rate": 17000,
                        "display_rate_updated_at": "2026-10-02T03:00:00+00:00",
                        "h2h_balance_usd": 5.88
                      }
                    }
                  },
                  "referenceFxUnavailable": {
                    "summary": "No valid reference FX quote available",
                    "value": {
                      "success": true,
                      "data": {
                        "h2h_balance": 100000,
                        "is_sandbox_mode": true,
                        "usd_idr_rate": 17000,
                        "display_usd_idr_rate": null,
                        "display_rate_updated_at": null,
                        "h2h_balance_usd": null
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation, product unavailable or insufficient order balance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation": {
                    "value": {
                      "message": "The customer target field is required.",
                      "errors": {
                        "customer_target": [
                          "The customer target field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/h2h/pricelists": {
      "get": {
        "operationId": "getPricelist",
        "summary": "Regular catalogue",
        "description": "Select active SKUs and follow meta.pagination.next_cursor while has_more=true. Regular bulk accepts only an exact regular sku_code.",
        "tags": [
          "catalog"
        ],
        "x-title-id": "Katalog reguler",
        "x-description-id": "Pilih SKU aktif dan ikuti meta.pagination.next_cursor selama has_more=true. Bulk hanya menerima sku_code reguler eksak.",
        "x-section": "getPricelist",
        "responses": {
          "200": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Catalogue"
                    },
                    {
                      "$ref": "#/components/schemas/LegacyCatalogue"
                    }
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "name": "Example product",
                          "sku_code": "EXAMPLE-10",
                          "price": 1000,
                          "category_name": "Example category",
                          "brand_id": 1,
                          "type_name": "Example type",
                          "category_order": 1,
                          "type_order": 1,
                          "server_code": "global",
                          "server_name": "Global",
                          "status": "active",
                          "inquiry_form_key": "example-form",
                          "h2h_description": null,
                          "description": null,
                          "id": 1
                        }
                      ],
                      "meta": {
                        "brands": [
                          {
                            "id": 1,
                            "name": "Example brand",
                            "thumbnail": null,
                            "order": 1
                          }
                        ],
                        "inquiry_forms": {
                          "example-form": {
                            "fields": [
                              {
                                "key": "customer_target",
                                "name": "Player ID",
                                "type": "text"
                              },
                              {
                                "key": "customer_target_zone",
                                "name": "Zone",
                                "type": "text"
                              }
                            ],
                            "notice": null
                          }
                        },
                        "pagination": {
                          "cursor": null,
                          "next_cursor": "MQ==",
                          "limit": 100,
                          "total": 1,
                          "has_more": false
                        }
                      }
                    }
                  },
                  "legacy": {
                    "summary": "Current format=legacy response",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "name": "Example product",
                          "sku_code": "EXAMPLE-10",
                          "price": 1000,
                          "category_name": "Example category",
                          "brand_id": 1,
                          "type_name": "Example type",
                          "category_order": 1,
                          "type_order": 1,
                          "server_code": "global",
                          "server_name": "Global",
                          "status": "active",
                          "h2h_description": null,
                          "description": null,
                          "id": 1,
                          "inquiry_fields": {
                            "fields": [
                              {
                                "key": "customer_target",
                                "name": "Player ID",
                                "type": "text"
                              },
                              {
                                "key": "customer_target_zone",
                                "name": "Zone",
                                "type": "text"
                              }
                            ],
                            "notice": null
                          },
                          "brand_name": "Example brand",
                          "brand_order": 1,
                          "brand_thumbnail": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Owned resource/category/account not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Not found."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation, product unavailable or insufficient order balance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation": {
                    "value": {
                      "message": "The customer target field is required.",
                      "errors": {
                        "customer_target": [
                          "The customer target field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "1–1000 items; recommend at most 500 per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque next_cursor from prior page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "server",
            "in": "query",
            "required": false,
            "description": "Server code from catalogue.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Default compact (meta.inquiry_forms); legacy embeds inquiry_fields.",
            "schema": {
              "type": "string",
              "enum": [
                "legacy"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/h2h/pricelists/{category_slug}": {
      "get": {
        "operationId": "pricelistCategory",
        "summary": "Regular catalogue by category",
        "description": "Select active SKUs and follow meta.pagination.next_cursor while has_more=true. Regular bulk accepts only an exact regular sku_code.",
        "tags": [
          "catalog"
        ],
        "x-title-id": "Katalog reguler per kategori",
        "x-description-id": "Pilih SKU aktif dan ikuti meta.pagination.next_cursor selama has_more=true. Bulk hanya menerima sku_code reguler eksak.",
        "x-section": "pricelistCategory",
        "responses": {
          "200": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Catalogue"
                    },
                    {
                      "$ref": "#/components/schemas/LegacyCatalogue"
                    }
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "name": "Example product",
                          "sku_code": "EXAMPLE-10",
                          "price": 1000,
                          "category_name": "Example category",
                          "brand_id": 1,
                          "type_name": "Example type",
                          "category_order": 1,
                          "type_order": 1,
                          "server_code": "global",
                          "server_name": "Global",
                          "status": "active",
                          "inquiry_form_key": "example-form",
                          "h2h_description": null,
                          "description": null,
                          "id": 1
                        }
                      ],
                      "meta": {
                        "brands": [
                          {
                            "id": 1,
                            "name": "Example brand",
                            "thumbnail": null,
                            "order": 1
                          }
                        ],
                        "inquiry_forms": {
                          "example-form": {
                            "fields": [
                              {
                                "key": "customer_target",
                                "name": "Player ID",
                                "type": "text"
                              },
                              {
                                "key": "customer_target_zone",
                                "name": "Zone",
                                "type": "text"
                              }
                            ],
                            "notice": null
                          }
                        },
                        "pagination": {
                          "cursor": null,
                          "next_cursor": "MQ==",
                          "limit": 100,
                          "total": 1,
                          "has_more": false
                        }
                      },
                      "category": {
                        "name": "Example category",
                        "slug": "example-category"
                      }
                    }
                  },
                  "legacy": {
                    "summary": "Current format=legacy response",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "name": "Example product",
                          "sku_code": "EXAMPLE-10",
                          "price": 1000,
                          "category_name": "Example category",
                          "brand_id": 1,
                          "type_name": "Example type",
                          "category_order": 1,
                          "type_order": 1,
                          "server_code": "global",
                          "server_name": "Global",
                          "status": "active",
                          "h2h_description": null,
                          "description": null,
                          "id": 1,
                          "inquiry_fields": {
                            "fields": [
                              {
                                "key": "customer_target",
                                "name": "Player ID",
                                "type": "text"
                              },
                              {
                                "key": "customer_target_zone",
                                "name": "Zone",
                                "type": "text"
                              }
                            ],
                            "notice": null
                          },
                          "brand_name": "Example brand",
                          "brand_order": 1,
                          "brand_thumbnail": null
                        }
                      ],
                      "category": {
                        "name": "Example category",
                        "slug": "example-category"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Owned resource/category/account not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Not found."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation, product unavailable or insufficient order balance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation": {
                    "value": {
                      "message": "The customer target field is required.",
                      "errors": {
                        "customer_target": [
                          "The customer target field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "category_slug",
            "in": "path",
            "required": true,
            "description": "Category slug from categories endpoint",
            "schema": {
              "type": "string"
            },
            "example": "example-category"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "1–1000 items; recommend at most 500 per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque next_cursor from prior page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "server",
            "in": "query",
            "required": false,
            "description": "Server code from catalogue.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Default compact (meta.inquiry_forms); legacy embeds inquiry_fields.",
            "schema": {
              "type": "string",
              "enum": [
                "legacy"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/h2h/smart-pricelists": {
      "get": {
        "operationId": "smartPricelist",
        "summary": "Smart catalogue",
        "description": "Select active SKUs and follow meta.pagination.next_cursor while has_more=true. Regular bulk accepts only an exact regular sku_code.",
        "tags": [
          "catalog"
        ],
        "x-title-id": "Katalog Smart",
        "x-description-id": "Pilih SKU aktif dan ikuti meta.pagination.next_cursor selama has_more=true. Bulk hanya menerima sku_code reguler eksak.",
        "x-section": "smartPricelist",
        "responses": {
          "200": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartCatalogue"
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "name": "Example product",
                          "category_name": "Example category",
                          "brand_id": 1,
                          "type_name": "Example type",
                          "category_order": 1,
                          "type_order": 1,
                          "status": "active",
                          "inquiry_form_key": "example-form",
                          "h2h_description": null,
                          "description": null,
                          "smart_sku_code": "smartEXAMPLE",
                          "min_price": 1000,
                          "max_price": 1000,
                          "variant_count": 1,
                          "variants": [
                            {
                              "sku_code": "EXAMPLE-10",
                              "price": 1000,
                              "status": "active"
                            }
                          ]
                        }
                      ],
                      "meta": {
                        "brands": [
                          {
                            "id": 1,
                            "name": "Example brand",
                            "thumbnail": null,
                            "order": 1
                          }
                        ],
                        "inquiry_forms": {
                          "example-form": {
                            "fields": [
                              {
                                "key": "customer_target",
                                "name": "Player ID",
                                "type": "text"
                              },
                              {
                                "key": "customer_target_zone",
                                "name": "Zone",
                                "type": "text"
                              }
                            ],
                            "notice": null
                          }
                        },
                        "pagination": {
                          "cursor": null,
                          "next_cursor": "MQ==",
                          "limit": 100,
                          "has_more": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Owned resource/category/account not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Not found."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation, product unavailable or insufficient order balance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation": {
                    "value": {
                      "message": "The customer target field is required.",
                      "errors": {
                        "customer_target": [
                          "The customer target field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "1–1000 items; recommend at most 500 per page. Smart defaults to 500.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque next_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Brand category ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Root category ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Product name or Smart SKU",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/h2h/smart-pricelists/{category_slug}": {
      "get": {
        "operationId": "smartPricelistCategory",
        "summary": "Smart catalogue by category",
        "description": "Select active SKUs and follow meta.pagination.next_cursor while has_more=true. Regular bulk accepts only an exact regular sku_code.",
        "tags": [
          "catalog"
        ],
        "x-title-id": "Katalog Smart per kategori",
        "x-description-id": "Pilih SKU aktif dan ikuti meta.pagination.next_cursor selama has_more=true. Bulk hanya menerima sku_code reguler eksak.",
        "x-section": "smartPricelistCategory",
        "responses": {
          "200": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartCatalogue"
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "name": "Example product",
                          "category_name": "Example category",
                          "brand_id": 1,
                          "type_name": "Example type",
                          "category_order": 1,
                          "type_order": 1,
                          "status": "active",
                          "inquiry_form_key": "example-form",
                          "h2h_description": null,
                          "description": null,
                          "smart_sku_code": "smartEXAMPLE",
                          "min_price": 1000,
                          "max_price": 1000,
                          "variant_count": 1,
                          "variants": [
                            {
                              "sku_code": "EXAMPLE-10",
                              "price": 1000,
                              "status": "active"
                            }
                          ]
                        }
                      ],
                      "meta": {
                        "brands": [
                          {
                            "id": 1,
                            "name": "Example brand",
                            "thumbnail": null,
                            "order": 1
                          }
                        ],
                        "inquiry_forms": {
                          "example-form": {
                            "fields": [
                              {
                                "key": "customer_target",
                                "name": "Player ID",
                                "type": "text"
                              },
                              {
                                "key": "customer_target_zone",
                                "name": "Zone",
                                "type": "text"
                              }
                            ],
                            "notice": null
                          }
                        },
                        "pagination": {
                          "cursor": null,
                          "next_cursor": "MQ==",
                          "limit": 100,
                          "has_more": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Owned resource/category/account not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Not found."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation, product unavailable or insufficient order balance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation": {
                    "value": {
                      "message": "The customer target field is required.",
                      "errors": {
                        "customer_target": [
                          "The customer target field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "category_slug",
            "in": "path",
            "required": true,
            "description": "Category slug from categories endpoint",
            "schema": {
              "type": "string"
            },
            "example": "example-category"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "1–1000 items; recommend at most 500 per page. Smart defaults to 500.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "example": 100
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque next_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Brand category ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Root category ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Product name or Smart SKU",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/h2h/pricelists/categories": {
      "get": {
        "operationId": "categories",
        "summary": "Catalogue categories",
        "description": "Direct product category names/slugs present in the regular catalogue. Slug may be a product type, not just a top-level category.",
        "tags": [
          "catalog"
        ],
        "x-title-id": "Kategori katalog",
        "x-description-id": "Nama/slug kategori produk yang ada di katalog reguler. Slug dapat berupa tipe produk.",
        "x-section": "categories",
        "responses": {
          "200": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "slug"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "name": "Example category",
                          "slug": "example-category"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation, product unavailable or insufficient order balance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation": {
                    "value": {
                      "message": "The customer target field is required.",
                      "errors": {
                        "customer_target": [
                          "The customer target field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/h2h/transaction": {
      "post": {
        "operationId": "createTransaction",
        "summary": "Create regular order",
        "description": "Creates one asynchronous transaction. HTTP 201 data.status=processing is an acknowledgement, not fulfillment. Replays return the existing order; do not reuse buyer_trx_id for a different order.",
        "tags": [
          "transactions"
        ],
        "x-title-id": "Buat transaksi reguler",
        "x-description-id": "Membuat satu transaksi async. HTTP 201 dengan status processing adalah penerimaan pesanan. Ulangi key hanya untuk pesanan yang sama.",
        "x-section": "createTransaction",
        "responses": {
          "200": {
            "description": "Existing buyer_trx_id: existing transaction, no extra debit",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Transaction"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "buyer_trx_id": "example-order-001",
                        "sku_code": "EXAMPLE-10",
                        "product_name": "Example product",
                        "customer_target": "123456789",
                        "customer_target_zone": "1234",
                        "price": 1000,
                        "status": "processing",
                        "serial_number": "",
                        "webhook_delivery_status": "pending",
                        "is_sandbox": true,
                        "created_at": "2026-10-02T03:00:00+00:00"
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Transaction"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "message": "Transaction successfully created and queued.",
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "buyer_trx_id": "example-order-001",
                        "sku_code": "EXAMPLE-10",
                        "product_name": "Example product",
                        "customer_target": "123456789",
                        "customer_target_zone": "1234",
                        "price": 1000,
                        "status": "processing",
                        "serial_number": "",
                        "webhook_delivery_status": "pending",
                        "is_sandbox": true,
                        "created_at": "2026-10-02T03:00:00+00:00"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation, product unavailable or insufficient order balance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation": {
                    "value": {
                      "message": "The customer target field is required.",
                      "errors": {
                        "customer_target": [
                          "The customer target field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransaction"
              },
              "examples": {
                "sandbox": {
                  "value": {
                    "sku_code": "EXAMPLE-10",
                    "customer_target": "123456789",
                    "customer_target_zone": "1234",
                    "buyer_trx_id": "example-order-001",
                    "sandbox_mode": true,
                    "additional_data": {
                      "email": "buyer@example.com"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/h2h/smart-transaction": {
      "post": {
        "operationId": "smartOrder",
        "summary": "Create Smart Order",
        "description": "Creates a Smart order within your max_bid budget. The final charge is the fulfilled product price. Unused balance is refunded; a failed order receives a full refund.",
        "tags": [
          "transactions"
        ],
        "x-title-id": "Buat Smart Order",
        "x-description-id": "Membuat pesanan Smart sesuai anggaran max_bid. Biaya akhir mengikuti harga produk yang berhasil dipenuhi. Sisa saldo dikembalikan; pesanan gagal mendapat refund penuh.",
        "x-section": "smartOrder",
        "responses": {
          "200": {
            "description": "Existing buyer_trx_id: existing transaction, no extra debit",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/SmartTransaction"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "buyer_trx_id": "example-smart-order-001",
                        "sku_code": "smartEXAMPLE",
                        "product_name": "Example product",
                        "customer_target": "123456789",
                        "customer_target_zone": "1234",
                        "price": 1100,
                        "status": "processing",
                        "serial_number": "",
                        "webhook_delivery_status": "pending",
                        "is_sandbox": true,
                        "created_at": "2026-10-02T03:00:00+00:00",
                        "max_bid": 1100,
                        "fulfilled_sku_code": null,
                        "attempts_count": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/SmartCreateAcknowledgement"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "message": "Transaction successfully created and queued.",
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "buyer_trx_id": "example-smart-order-001",
                        "sku_code": "smartEXAMPLE",
                        "product_name": "Example product",
                        "customer_target": "123456789",
                        "customer_target_zone": "1234",
                        "price": 1100,
                        "status": "processing",
                        "serial_number": "",
                        "webhook_delivery_status": "pending",
                        "is_sandbox": true,
                        "created_at": "2026-10-02T03:00:00+00:00",
                        "max_bid": 1100
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation, product unavailable or insufficient order balance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation": {
                    "value": {
                      "message": "The customer target field is required.",
                      "errors": {
                        "customer_target": [
                          "The customer target field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSmartTransaction"
              },
              "examples": {
                "sandbox": {
                  "value": {
                    "sku_code": "smartEXAMPLE",
                    "customer_target": "123456789",
                    "customer_target_zone": "1234",
                    "buyer_trx_id": "example-smart-order-001",
                    "sandbox_mode": true,
                    "additional_data": {
                      "email": "buyer@example.com"
                    },
                    "max_bid": 1100
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/h2h/transaction/{id}": {
      "get": {
        "operationId": "transactionStatus",
        "summary": "Transaction status",
        "description": "Look up your transaction by UUID or buyer_trx_id. Supports regular, Smart and individual bulk orders; use billing.transaction_id for paid account checks. Match Smart results using id/buyer_trx_id, as sku_code may differ from the ordered SKU. fulfilled_sku_code identifies the successfully fulfilled SKU. Account-check buyer_trx_id, sku_code and serial_number are null. Smart/bulk fields appear only for their order type.",
        "tags": [
          "transactions"
        ],
        "x-title-id": "Status transaksi",
        "x-description-id": "Cari transaksi Anda melalui UUID atau buyer_trx_id. Berlaku untuk reguler, Smart, dan setiap pesanan bulk; gunakan billing.transaction_id untuk pemeriksaan akun berbayar. Cocokkan hasil Smart melalui id/buyer_trx_id karena sku_code dapat berbeda dari SKU yang dipesan. fulfilled_sku_code menunjukkan SKU yang berhasil dipenuhi. buyer_trx_id, sku_code, dan serial_number pemeriksaan akun bernilai null. Field Smart/bulk hanya muncul sesuai jenis pesanan.",
        "x-section": "transactionStatus",
        "responses": {
          "200": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/Transaction"
                        },
                        {
                          "$ref": "#/components/schemas/SmartTransaction"
                        }
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "buyer_trx_id": "example-order-001",
                        "sku_code": "EXAMPLE-10",
                        "product_name": "Example product",
                        "customer_target": "123456789",
                        "customer_target_zone": "1234",
                        "price": 1000,
                        "status": "processing",
                        "serial_number": "",
                        "webhook_delivery_status": "pending",
                        "is_sandbox": true,
                        "created_at": "2026-10-02T03:00:00+00:00"
                      }
                    }
                  },
                  "paidAccountCheck": {
                    "summary": "Paid account-check detail using billing.transaction_id",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "buyer_trx_id": null,
                        "sku_code": null,
                        "product_name": "Pemeriksaan akun",
                        "customer_target": "123456789",
                        "customer_target_zone": null,
                        "price": 1,
                        "status": "success",
                        "serial_number": null,
                        "webhook_delivery_status": "skipped",
                        "is_sandbox": false,
                        "created_at": "2026-10-02T03:00:00+00:00"
                      }
                    }
                  },
                  "smartFulfilled": {
                    "summary": "Successful Smart order status",
                    "value": {
                      "success": true,
                      "data": {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "buyer_trx_id": "example-smart-order-001",
                        "sku_code": "EXAMPLE-10",
                        "product_name": "Example product",
                        "customer_target": "123456789",
                        "customer_target_zone": "1234",
                        "price": 1000,
                        "status": "success",
                        "serial_number": "EXAMPLE-SN-001",
                        "webhook_delivery_status": "pending",
                        "is_sandbox": true,
                        "created_at": "2026-10-02T03:00:00+00:00",
                        "max_bid": 1100,
                        "fulfilled_sku_code": "EXAMPLE-10",
                        "attempts_count": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Owned resource/category/account not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not-found": {
                    "value": {
                      "success": false,
                      "message": "Transaction not found."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Owned transaction UUID or buyer_trx_id",
            "schema": {
              "type": "string"
            },
            "example": "11111111-1111-4111-8111-111111111111"
          }
        ]
      }
    },
    "/api/v1/h2h/bulk-orders": {
      "post": {
        "operationId": "createBulk",
        "summary": "Create bulk order",
        "description": "Creates 1–100 separate orders for one regular SKU and one target. The full cost is deducted upfront; insufficient balance prevents creation. Use a unique buyer_bulk_id for each bulk and keep it unchanged on retries. Set order_count and omit quantity, max_bid, and order_mode; populated values for these parameters return HTTP 422.",
        "tags": [
          "bulk"
        ],
        "x-title-id": "Buat bulk order",
        "x-description-id": "Membuat 1–100 pesanan terpisah untuk satu SKU reguler dan satu target. Total biaya dipotong di awal; saldo kurang membuat bulk tidak dapat dibuat. Gunakan buyer_bulk_id unik untuk setiap bulk dan pertahankan saat retry. Isi order_count dan jangan kirim quantity, max_bid, atau order_mode; nilai terisi pada parameter tersebut menghasilkan HTTP 422.",
        "x-section": "createBulk",
        "responses": {
          "200": {
            "description": "Identical payload and key: original bulk, no additional debit",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BulkOrder"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "message": "Returning original bulk order.",
                      "data": {
                        "id": "22222222-2222-4222-8222-222222222222",
                        "buyer_bulk_id": "example-bulk-001",
                        "sku_code": "EXAMPLE-10",
                        "product_name": "Example product",
                        "customer_target": "123456789",
                        "customer_target_zone": "1234",
                        "order_count": 3,
                        "unit_price": 1000,
                        "total_debit": 0,
                        "status": "queued",
                        "via": "api",
                        "is_sandbox": true,
                        "invoice_available": false,
                        "created_at": "2026-10-02T03:00:00+00:00",
                        "completed_at": null,
                        "total_count": 3,
                        "success_count": 0,
                        "failed_count": 0,
                        "processed_count": 0,
                        "remaining_count": 3,
                        "processing_count": 0,
                        "queued_count": 3
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "HTTP success; inspect data.status separately",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BulkOrder"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "success": true,
                      "message": "Bulk order created and queued.",
                      "data": {
                        "id": "22222222-2222-4222-8222-222222222222",
                        "buyer_bulk_id": "example-bulk-001",
                        "sku_code": "EXAMPLE-10",
                        "product_name": "Example product",
                        "customer_target": "123456789",
                        "customer_target_zone": "1234",
                        "order_count": 3,
                        "unit_price": 1000,
                        "total_debit": 0,
                        "status": "queued",
                        "via": "api",
                        "is_sandbox": true,
                        "invoice_available": false,
                        "created_at": "2026-10-02T03:00:00+00:00",
                        "completed_at": null,
                        "total_count": 3,
                        "success_count": 0,
                        "failed_count": 0,
                        "processed_count": 0,
                        "remaining_count": 3,
                        "processing_count": 0,
                        "queued_count": 3
                      }
                    }
                  },
                  "withoutZone": {
                    "summary": "Product without a required zone",
                    "value": {
                      "success": true,
                      "message": "Bulk order created and queued.",
                      "data": {
                        "id": "22222222-2222-4222-8222-222222222222",
                        "buyer_bulk_id": "example-bulk-001",
                        "sku_code": "EXAMPLE-10",
                        "product_name": "Example product",
                        "customer_target": "123456789",
                        "customer_target_zone": null,
                        "order_count": 3,
                        "unit_price": 1000,
                        "total_debit": 0,
                        "status": "queued",
                        "via": "api",
                        "is_sandbox": true,
                        "invoice_available": false,
                        "created_at": "2026-10-02T03:00:00+00:00",
                        "completed_at": null,
                        "total_count": 3,
                        "success_count": 0,
                        "failed_count": 0,
                        "processed_count": 0,
                        "remaining_count": 3,
                        "processing_count": 0,
                        "queued_count": 3
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication missing/invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Unauthorized: Missing X-API-Key or X-Secret-Key headers."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account/IP forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Forbidden: H2H API access is not active for this account."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "A different request already uses this buyer_bulk_id",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "conflict": {
                    "value": {
                      "message": "buyer_bulk_id sudah digunakan dengan payload berbeda."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation, product unavailable or insufficient order balance",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation": {
                    "value": {
                      "message": "The customer target field is required.",
                      "errors": {
                        "customer_target": [
                          "The customer target field is required."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Tier, catalogue or nickname limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying a rate-limited request",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "General requests per minute for the account tier",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining general requests in the current minute",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "Too Many Requests"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBulkOrder"
              },
              "examples": {
                "sandbox": {
                  "value": {
                    "sku_code": "EXAMPLE-10",
                    "customer_target": "123456789",
                    "customer_target_zone": "1234",
                    "sandbox_mode": true,
                    "additional_data": {
                      "email": "buyer@example.com"
                    },
                    "order_count": 3,
                    "buyer_bulk_id": "example-bulk-001"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "bulkHistory",
[...]
